Dataset for questions 1-3 may be loaded from this [link](https://raw.githubusercontent.com/Yorko/mlcourse.ai/master/data/telecom_churn.csv).

In [105]:
import pandas as pd
import numpy as np
dataset = pd.read_csv('https://raw.githubusercontent.com/Yorko/mlcourse.ai/master/data/telecom_churn.csv')
dataset.head()

  State  Account length  ...  Customer service calls  Churn
0    KS             128  ...                       1  False
1    OH             107  ...                       1  False
2    NJ             137  ...                       0  False
3    OH              84  ...                       2  False
4    OK              75  ...                       3  False

[5 rows x 20 columns]

Q1. How many records are there where the state name starts with 'W'?

In [106]:
def q1():
    # Type your code here
    c=dataset.loc[dataset['State'].apply(lambda x: x[0]=='W'),'State'].count()
    return c

q1()

327

Q2. What is the percentage of voice mail plan for churn=0 users?

In [107]:
def q2():
   c1=dataset.loc[(dataset['Churn']==False)&(dataset['Voice mail plan']=='Yes'),'Voice mail plan'].count()
   c2=dataset.loc[(dataset['Churn']==False)&(dataset['Voice mail plan']=='No'),'Voice mail plan'].count()
   
   return (c1/(c2+c1))*100

q2()

29.543859649122805

Q3. How many customers made day calls below average for whom day charge was above average?

In [108]:
def q3():
  day_call_avg=dataset['Total day calls'].mean()
  day_charge_avg=dataset['Total day charge'].mean()
  c=dataset.loc[((dataset['Total day calls']<day_call_avg) & (dataset['Total day charge']>day_charge_avg),'Area code')].count()
  return c

q3()

811



---

In [109]:
# Dataset for questions 4-7
data = {'Refinery Location':['Baytown','Baton Rouge','Texas City','Lake Charles','Whiting','Beaumont','Philadelphia','Pascagoula','Deer Park','Wood River','Port Arthur'],
        'Company':['Texas ExxonMobil','Louisiana ExxonMobil','Texas BP','Louisiana Citgo','Indiana BP','Texas ExxonMobil','Pennsylvania Sunoco','Mississippi Chevron','Texas partnership','Illinois WRB','Texas Premcor'],
        'Capacity':['567,000','503,000','467,720','429,500','410,000','348,500','335,000','330,000','329,800','306,000','289,000']}

Load the dictionary `data` created in the above block into a Pandas DataFrame named `df`.

In [110]:
df = pd.DataFrame(data)
df

   Refinery Location               Company Capacity
0            Baytown      Texas ExxonMobil  567,000
1        Baton Rouge  Louisiana ExxonMobil  503,000
2         Texas City              Texas BP  467,720
3       Lake Charles       Louisiana Citgo  429,500
4            Whiting            Indiana BP  410,000
5           Beaumont      Texas ExxonMobil  348,500
6       Philadelphia   Pennsylvania Sunoco  335,000
7         Pascagoula   Mississippi Chevron  330,000
8          Deer Park     Texas partnership  329,800
9         Wood River          Illinois WRB  306,000
10       Port Arthur         Texas Premcor  289,000

Q4. What is the IQR for the 'Capacity' attribute?

In [111]:
def q4():
  for i in range(df.shape[0]):
      df['Capacity'][i] = df['Capacity'][i].replace(",","")
  
  q1 = df['Capacity'].astype(float).quantile(0.25)
  q3 = df['Capacity'].astype(float).quantile(0.75)
  IQR = q3 - q1
  return IQR
q4()

118710.0

Q5. Compute the skewness and kurtosis of the 'Capacity' attribute, rounded off two two decimal places.

In [112]:
def q5():
  kurtosis_value=round(df['Capacity'].kurt(),2)
  skewness_value=round(df['Capacity'].skew(),2)
  return (skewness_value, kurtosis_value)

q5()

(0.78, -0.48)



---

Import necessary libraries for Regression questions 6-8. Dataset can be loaded form [here](https://raw.githubusercontent.com/dayanandv/Data-Science/main/dataset/dataset1.csv).

In [113]:
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
df = pd.read_csv("https://raw.githubusercontent.com/dayanandv/Data-Science/main/dataset/dataset1.csv",encoding='utf-16')
X = df['X']
Y = df['Y']
X_train, X_test, y_train, y_test = train_test_split(df['X'], df['Y'], test_size=0.33, random_state=42)
X_train = np.array(X_train)
X_test = np.array(X_test)
y_train = np.array(y_train)
y_test = np.array(y_test)

Load data into DataFrame, split into X and Y, split DataFrame further into train (2/3rd) and test (1/3rd).

Q6. Build a Linear Regression model by hand and calculate the coeffcients b1 and b0 for the model.

In [114]:
def q6(): 
  # Mean X and Y
  mean_x = np.mean(X.values)
  mean_y = np.mean(Y.values)

  # Total number of values
  n = len(X)

  # Using the formula to calculate b1 and b2
  numer = 0
  denom = 0
  for i in range(n):
      numer += (X[i] - mean_x) * (Y[i] - mean_y)
      denom += (X[i] - mean_x) ** 2
  b1 = numer / denom
  b0 = mean_y - (b1 * mean_x)

  # Return coefficients
  return b1, b0

q6()

(1.8194996275037996, 12.508563136839996)

Q7. Build a Linear Regression model using sklearn and compute the absolute difference in RMSE of the predictions on the X_test data when you compare it to the model built in Q6.

In [115]:
def q7():
  prediction = []
  m, b = q6()
  for x in X_test:
    y = m*x + b
    prediction.append(y)
  reg = LinearRegression().fit(X_train.reshape(-1, 1), Y_train)
  y_pred = reg.predict(X_test.reshape(-1, 1))

  difference_in_rmse = mean_squared_error(prediction, y_pred,squared=False)
  return difference_in_rmse

q7()

3.8661417068018054